/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.webadmit-brand {
  color: white;
  font-weight: bold;
}

.liaison-navbar-logo {
  margin: 0;
}

#content img {
  border: 1px solid #ddd;
  display: block;
  margin: 0 auto;
  padding: 4px;
}
