<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
          {% if page.title %}
            {{ page.title }} -
          {% endif %}
          WebAdMIT Developer
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand webadmit-brand" href="index.html">WebAdMIT Developer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="v1.html">API Overview</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Endpoints <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">User-Scoped Endpoints</li>
                <li><a href="export.html">Export/Report</a></li>
                <li><a href="export_files_check.html">Export/Report Files (check status)</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">User Identity-Scoped Endpoints</li>
                <li><a href="user_identity.html">User Identity</a></li>
                <li><a href="decision.html">Decision</a></li>
                <li><a href="organization.html">Organization</a></li>
                <li><a href="pdf_manager_template.html">PDF Manager Template</a></li>
                <li><a href="pdf_manager_batch.html">PDF Manager Batch</a></li>
                <li><a href="pdf_manager_zip_file.html">PDF Manager Zip File</a></li>
                <li><a href="program.html">Program</a></li>
                <li><a href="export_by_user_identity.html">Export/Report</a></li>
                <li><a href="export_files_check_batch.html">Export/Report Files (check status in batch)</a></li>
                <li><a href="export_files.html">Export/Report Files (initiate a run)</a></li>
                <li><a href="applicant_details.html">Applicant Details <span class="label label-warning">Prototype</span></a></li>
                <li><a href="social_security_numbers.html">Social Security Numbers</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Program-Scoped Endpoints</li>
                <li><a href="custom_field.html">Custom Field</a></li>
                <li><a href="batch_designations.html">Batch designations</a></li>
                <li><a href="batch_custom_field_answers.html">Batch custom field answers</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Applicant-Scoped Endpoints</li>
                <li><a href="custom_field_answer.html">Custom Field Answer</a></li>
                <li><a href="designation.html">Designation</a></li>
              </ul>
            </li>
          </ul>
          <div class="navbar-img navbar-right liaison-navbar-logo">
            <a href="http://www.liaison-intl.com/">
              <img class="hidden-xs hidden-sm" src="img/liaison-logo-footer-retina.png" alt="Liaison Logo" width="243" height="46">
            </a>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container" id="content">
      {{ content }}

      <hr>

      <footer>
        <p>&copy; 2015 - {{ site.time | date: '%Y' }} Liaison International.  <a href="about.html">About</a>.</p>
      </footer>
    </div> <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/main.js"></script>
  </body>
</html>
